
.dashboard-main {
  background: $dash_colo_blue;

  * {
    color: $color_white;
  }

  .dash-sidebar {
    min-height: 100dvh;
    padding: 10px;
    row-gap: .5em;
    border-right: 1px solid $color_white;

    * {
      color: $dark_white;
    }

    svg, img {
      fill: $color_white;
      background: transparent;
    }

    li {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      cursor: pointer;

      svg {
        font-size: 1em;
      }

    }

    .sidebar-context {
      display: inherit;
      width: 100%;
      row-gap: .5em;

      .avatar {
        padding: 10px 0;
        border-bottom: 1px solid $border_color;
      }

      .dash-btn-container {
        padding: 10px 0;
        display: inherit;
        width: 100%;

        li {
          margin-bottom: .5em;
        }

        svg {
          width: fit-content;
        }
      }

      span {
        text-align: left;
      }

      .context {

        .context-canvas {
          width: fit-content;

          li {
            justify-items: center;
            text-align: center;
            position: relative;
          }
        }
      }

      .dash-btn-container {
        place-items: start;
        row-gap: .5em;
        border-bottom: 1px solid $border_color;
        padding: 1em 15px 10px;

         li {
           place-items: center;
           border-radius: 5px;
           border: none;

           * {
             border: none;
           }

           svg {
             margin-left: auto;
             width: 10%;
           }
         }

        * {
          width: 100%;
        }

      }

      .dash-buttons-container, .dash-buttons-container-update, .update-btn-container {
        width: 100%;
        margin-top: .5em;
        flex-direction: column;
        place-items: flex-start;
        gap: .5em;
        padding: 0 15px;

        li {
          display: flex;
          width: 100%;
          justify-content: center;
          place-content: start;
          flex-direction: row;
          align-items: flex-start;
          gap: 1.5em;
          padding: 5px 0;

          &:hover {
            svg {
              fill: $dark;
              color: $dark;
            }
          }

          svg {
            align-self: center;
          }
        }

      }

      .dash-buttons-container-update {
        display: grid;
        width: 100%;
        padding: 0;
        gap: 0;
        row-gap: .5em;
        overflow: hidden;

        .updated-btn {
          display: flex;
          width: 100%;
          padding: 2px 5px;
          place-items: center;
          border-radius: 5px;
          cursor: pointer;
          transition: all 1s ease-in-out;
          text-align: left;
          background: $color_blue;

          &:hover {

            * {
              color: $dark;
              transition: ease-in-out 1s;
            }
          }

          svg {
            display: grid;
            margin-left: auto;
            transition: all .5s ease-in-out;
          }

          svg:last-child {
            display: none;
          }
        }

        .updated-btn.arrow-down {

          svg:first-child {
            display: none;
          }
          svg:last-child {
            display: grid;
          }

        }

        .update-btn-container {
          height: 0;
          transition: all .5s ease-in-out;
        }

        .update-btn-container.h-full {
          height: 100%;
        }
      }
    }

  }

  .graph-card-container {
    display: grid;

  }

  .top-deals-container {
    padding: 10px;
    border: .001em solid $dark_white;

    .title-container {
      display: grid;
      place-items: start;
      padding: 10px;

      h1 {
        font-size:1.3em;
        font-family: $font_family_bacasime;
      }
    }

    * {
      color: $color_white;
    }

    .context-container {
      overflow-y: scroll !important;
      max-height: 45dvh;
    }

    .book-container {
      padding: 10px 0 10px 5px;

      .avatar-context {

        * {
          text-align: left;
          font-size: .8em;
        }

        h5 {
          font-size: 1em;
        }

        p {
          font-size: .7em;
        }
      }

      .book-price {
        margin-left: auto;
      }

      .booking-id-price-container {
        flex: 1;

        p {
          font-size: .9em;
        }
      }
    }
  }

  .dashboard-context-container {
    display: grid;
    height: fit-content;
    row-gap: 2em;

    .admin-dash-header {
      display: grid;
      height: fit-content;
    }
  }

  .room-ad {
    position: static;
    width: 100%;
    height: 100%;

    .main {
      width: 90%;
      margin: 0 auto;
      padding: 15px;
    }

    .form-group {
      border-bottom: 1px solid $border_color;
    }

    input::placeholder {
      color: $color_white !important;
    }

    select {
      background: transparent;
      color: $color_white;
    }

    .content {
      position: static;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      transform: none;

      .form_group {
        input {
          width: 100%;
        }
      }
    }

    .edit-room {
      svg:hover {
        fill: $color-green;
      }
    }

    .delete-icon {
      position: relative;
      display: inline-block;
      svg:hover {
        fill: #FE0000;
      }

      .tooltiptext {
        padding: 5px;
        width: 120px;
        background: black;
        text-align: center;
        border-radius: 6px;

        position: absolute;
        z-index: 1;
        right: 0;
        top: -2.3em;
        margin-right: 0;

        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 85%;
          margin-right: -5px;
          border: 5px solid;
          border-color: black transparent transparent transparent;
        }
        visibility: hidden;
      }

      &:hover > .tooltiptext {
        visibility: visible;
      }
    }

    .file-upload {

      .btn-container {

        .btn-upload-file {
          width: 100%;
          background: $dark;
          padding: 5px 10px;
          cursor: pointer;
          border-radius: 5px;
          text-transform: capitalize;
          font-size: 100%;
        }
      }
    }
  }

  .signup_container {
    width: 100%;
    height: 100%;

    .title-context {
      padding-bottom: 1em;

       * {
         text-align: left;
       }

      p {
        padding-left: 10px;
      }
    }

    * {
      color: $color_white !important;
    }

    input::placeholder {
      color: $color_white !important;
    }

    .form-group {

      .invalid-input {
        border-color: #C63D2F !important;
      }

    }

    .content {
      position: static;
      transform: none;
      margin: 0 auto;

      .form, .title-container{
        width: 60%;

        .form_group {
          p {
            width: 100%;
            background: $dark;
            padding: 5px 20px;
            cursor: pointer;

            color: $color_white;
          }
        }
      }
    }
  }

  .booking-graph {
    width: 100%;
    border: 1px solid $color_white;

    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .alert-box {
    background: $color_white;

    * {
      color: $dark;
    }
  }

  .swiper {

    .swiper-pagination {
      display: flex;
      position: static;
      width: 80%;
      justify-content: center;
      margin: 2em auto 0;

      .swiper-pagination-bullet {
        background: $color_white;
      }
    }
  }

  .table {
    .paginationWrapper {
      list-style: none;
      grid-template-columns: repeat(4, 1fr);
      width: fit-content;
      gap: 1.3em;
      padding: 10px;

      .paginationBtnContainer {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $dark_55;
        display: grid;
        justify-content: center;

        li {
          cursor: pointer;
          color: $dark;
          display: grid;
          place-content: center;
        }

        &:hover {
          background: $color_white;
        }
      }

    }
  }

}