
.login_container {
  display: flex;
  position: relative;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  background: #000;

  .header {
    background: transparent;

    * {
      color: $color_white;
    }

    .title-container {
      h1 {
        cursor: pointer;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.50;

    background: url("/login-bg.jpg");
    background-size: cover;
  }
}


.login_container, .signup_container, .room-ad {
  width: 100%;

  .error_message {
    color: $color_white;
    font-size: 1em;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  form, .form {
    width: 40%;
    margin: 0 auto;

    h3 {
      text-align: left;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 1.2em;
      color: $text_color;
      font-family: $font_family_roboto;
    }

    .form-group {
      width: 100%;
      margin-bottom: .5em;
      padding: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        text-align: left;
        width: 100%;
        padding-left: 10px;
        background: transparent;
      }

      input::placeholder {
        color: $color_white;
      }
    }

    .submit, .next {
      display: grid;
      margin-top: 2em;
      padding: 2px 0;
      place-items: end;
      color: $color_white;

      svg {
        cursor: pointer;
      }

      .pointer {
        border: 1px solid $light_slate;
        padding: 2px 15px;
        cursor: pointer;
      }

      input {
        cursor: pointer;
        letter-spacing: .1em;
        text-transform: uppercase;
      }

      .no-account {
        display: flex;
        margin-top: 1em;
        border: none;

        p {
          border: none;
          padding-right: 10px;

          &:last-child {
            cursor: pointer;
            color: $color_blue;
          }
        }
      }
    }
  }
}

.login_container {
   input {
     border-bottom: 1px solid $color_white;
     color: $color_white;
   }
}

.signup_container {
  display: flex;
  background: rgba(0, 0, 0, .25%);
  height: 100dvh;
  width: 100dvw;
  place-items: center;
  justify-content: center;

  .content {
    margin: 0 auto;
  }

  .title-container {
    width: 40%;
    display: grid;
    place-items: start;
    margin: 0 auto;
    padding: 20px 0;

    h1 {
      font-family: $font_family_bacasime;
      text-transform: capitalize;
      font-size: 1.8em;
      font-weight: bold;
    }
    p {
      font-size: 15px;
      color: #4C4646
    }
  }

   input {
     color: $dark;
     border-bottom: .01px solid $border_color;
   }

  input::placeholder {
    color: $dark !important;
  }

  .form_group {
    p {
      cursor: pointer;
      color: $dark;
    }

    svg {
      color: $dark;
      font-size: 1.5em;
      isolation: isolate;
    }
  }

  .invalid-input {

    &::placeholder {
      color: #FE0000 !important;
    }
    :-ms-input-placeholder {
      color: #FE0000 !important;
    }
  }

  .form-group {
    .message {
      padding: 20px 0 0 20px;
      color: #35A29F !important;
      text-align: left;
    }
  }
}

.room-ad {

  .form-group {
    border-bottom: 1px solid $dark;
    margin-bottom: .8em !important;

    input[type='text']::placeholder, select {
      color: $dark;
    }

    input[type='submit'], select {
      color: $dark;
    }

    select {
      display: grid;
      width: 100%;
      gap: 2em;

      option {
        text-align: left;
      }
    }
  }

  .btn {
    text-align: right;
    margin-top: 2em;

    input[type='submit'] {
      color: $color_white;
      width: 60%;
      border: 1px solid $dark;
      padding: 5px 20px;
      background: $dark;
      cursor: pointer;
    }
  }

}
