
.login_container, .signup_container {
  width: 100%;

  .error_message {
    color: $color_red;
    font-size: 1em;
  }

  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  form, .form {
    width: 40%;
    margin: 0 auto;

    h3 {
      text-align: left;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 1.2em;
      color: $text_color;
      font-family: $font_family_roboto;
    }

    .form-group {
      width: 100%;
      border-bottom: 1px solid $light_slate;
      margin-bottom: 1em;
      padding: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        text-align: left;
        width: 100%;
        padding-left: 10px;
      }
    }

    .submit, .next {
      display: flex;
      margin-top: 2em;
      padding: 2px 0;
      justify-content: flex-end;

      svg {
        cursor: pointer;
      }

      p {
        border: 1px solid $light_slate;
        padding: 2px 15px;
        cursor: pointer;
      }

      input {
        cursor: pointer;
      }
    }
  }
}