
.profile_profile {

  .header {
    background: transparent;
  }

  .content {
    margin-bottom: 2em;
  }

  .context-canvas {
    img {
      filter: brightness(0) invert(1);
    }
  }

  .transparent-bg {
    * {
      background: transparent !important;
      color: $color_white;
    }

    h1 {
      font-size: 1.5em;
      text-align: end;
      padding-right: 1em;
    }

    p {
      display: none;
    }

    .login-signup {

      h5 {
        color: $color_white !important;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .transparent {
    background: rgba(0, 0, 0, 1) !important;
    opacity: .8;
    .book {
      h5 {
        color: $color_white !important;
      }
    }
  }

  .room-detail {
    .action-btn {
      display: flex;
      width: 100%;
      position: static;
      justify-items: end;
      gap: 1em;

      li {
        width: fit-content;
      }
    }
  }

  .book-delete-btn {
    gap: 1em;

    li {
      border: 1px solid $border_color;
      padding: 2px 15px;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        color: $color_white;
        background: $color_blue;
        border-color: $color_blue;
      }
    }

    li:last-child:hover {
      background: $color_red;
      border-color: $color_red;
    }
  }

  .swiper-pagination-bullet {
    display: block !important;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }

  .swiper-pagination {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: inherit;
    margin: 2em auto;
  }

}

.main {
  padding: 10px;

  .user_info {

    .info-container {
      margin: 0;
      padding: 0 1em;
      position: relative;

      .info {
        * {
          text-align: left !important;
        }
        h2 {
          font-size: 2em;
          color: $light_slate;
        }

        .user-detail {
          p {
            white-space: pre-wrap;
            font-size: 16px;
          }
        }
      }

      .action_btn {
        position: absolute;
        cursor: pointer;
      }
    }
  }

  .booking-detail {
    background: #DBDFEA;

    .room-book {
      width: 100%;
      border: .01em solid $dark_white;
      height: 100%;
      padding: 1.3em;

      h1 {
        font-size: 1.6em;
        font-family: $font_family_poppins;
      }

      p {
        color: #355764;
        font-size: 16px;
      }
    }
  }

}

