
.profile_profile {

  .header {
    background: transparent;
  }

  .content {
    margin-bottom: 2em;
  }

  .context-canvas {
    img {
      filter: brightness(0) invert(1);
    }
  }

  .transparent-bg {
    * {
      background: transparent !important;
      color: $color_white;
    }

    h1 {
      font-size: 1.5em;
      text-align: end;
      padding-right: 1em;
    }

    p {
      display: none;
    }

    .login-signup {

      h5 {
        color: $color_white !important;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .transparent {
    background: rgba(0, 0, 0, 1) !important;
    opacity: .8;
    .book {
      h5 {
        color: $color_white !important;
      }
    }
  }

}

.main {
  padding: 10px;

  .user_info {

    .info-container {
      margin: 0;
      padding: 0 1em;
      position: relative;

      .info {
        * {
          text-align: left !important;
        }
        h2 {
          font-size: 2em;
          color: $light_slate;
        }

        .user-detail {
          p {
            white-space: pre-wrap;
            font-size: 16px;
          }
        }
      }

      .action_btn {
        position: absolute;
        cursor: pointer;
      }
    }
  }

  .booking-detail {
    background: #DBDFEA;

    .room-book {
      width: 100%;
      border: .01em solid $dark_white;
      height: 100%;
      padding: 1.3em;

      h1 {
        font-size: 1.6em;
        font-family: $font_family_poppins;
      }

      p {
        color: #355764;
        font-size: 16px;
      }
    }
  }

}

