
@include responsive_max(cs) {

  .dashboard-main {

    .sidebar-context {
      
      .dash-btn-container, .dash-buttons-container {

        svg {
          font-size: 1.1em !important;
        }

        li {
          background: none !important;
          width: fit-content !important;
          grid-template-columns: repeat(1, 1fr);
        }
        span {
          display: none;
        }
      }
    }

    canvas {
      width: 100% !important;
      height: 100% !important;
    }

    .doughnut {
      canvas {
        width: fit-content !important;
        height: fit-content !important;
      }
    }
  }

  .react-datepicker {
    display: grid !important;

    .react-datepicker__month {
      display: grid;
      place-items: center;
      column-gap: 1em;

      .react-datepicker__week {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@include responsive_max(sm) {

  .swiper-dashboard-sm {

    .room-detail {
      .detail {

        .check {
          li {
            text-align: left;
            padding-top: 10px;
          }

          li:nth-child(2) {
            text-align: left !important;
          }
        }
      }
    }
  }
}