
@include responsive_max(cs) {

  .dashboard-main {

    .sidebar-context {
      
      .dash-btn-container, .dash-buttons-container {

        svg {
          font-size: 1.1em !important;
        }

        li {
          background: none !important;
          width: fit-content !important;
          grid-template-columns: repeat(1, 1fr);
        }
        span {
          display: none;
        }
      }
    }

    canvas {
      width: 100% !important;
      height: 100% !important;
    }

    .doughnut {
      canvas {
        width: fit-content !important;
        height: fit-content !important;
      }
    }
  }

  .react-datepicker {
    display: grid !important;

    .react-datepicker__month {
      display: grid;
      place-items: center;
      column-gap: 1em;

      .react-datepicker__week {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@include responsive_max(sm) {

  .index {
    .new-letter {

      .email-container {
        width: 100%;
        padding: 10px;

        div {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1em;
          width: 100%;
        }

        input, textarea {
          width: 100%;
        }
      }
    }
  }

  .swiper-dashboard-sm {
    .room-detail {
      .detail {

        .check {
          li {
            text-align: left;
            padding-top: 10px;
          }

          li:nth-child(2) {
            text-align: left !important;
          }
        }
      }
    }
  }

  .profile_profile {

    .header {
      background: transparent;
      position: fixed;

      .context-canvas {

        .list-none {

          img {
            display: none;
          }

          img:last-child {
            display: block;
          }
        }
      }
    }
    .swiper {
      .room-detail {
        padding: 0;

        .check {
          li:last-child {
            padding-left: 1em;
          }
          .price-li {
            padding-left: 0 !important;
          }
        }

        .book-delete-btn {
          li {
            font-size: .8em;
          }

          li:last-child {
            border: none;
          }

          li:last-child:hover {
            border: none;
            background: none;

            svg {
              color: $color_red;
              font-size: 1.5em;
            }
          }
        }
      }

      .swiper-button-next, .swiper-button-prev {
        display: none !important;
      }
    }
  }

  .dashboard-main {

    .dash-sidebar {
      .logo {
        width: 25%;
      }

      .dash-buttons-container {

        span {
          display: block;
        }

        li {

          &:hover {
            background: $color_white !important;
            * {
              color: $dark;
            }
          }
        }
      }
    }
  }

  .signup_container {

    .signup_container {

      .form_group.next {
        p {
          width: 100%;
        }
      }
    }
  }
}