.card {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  min-height: 15dvh;

  * {
    color: $color_white;
  }

  .card-header {
    display: flex;
    gap: .5em;
    place-items: center;
    justify-content: space-evenly;

    * {
      font-family: $font_family_hurricane;
    }

    h5 {
      text-align: left;
      padding-left: 5px;
      width: 100%;
      font-family: $font_family_domine;

    }

    h1 {
      text-align: right;
      font-size: 1.3em;
      align-self: end;
      float: right;
      font-weight: bold;
    }
  }

  .card-context {
    gap: .5em;
    justify-items: center;
    bottom: 0;
    margin-top: 1.2em;
    flex-direction: column;
    place-items: start;
    justify-content: center;

    * {
      text-align: left;
      width: 100%;
    }

    .updated {
      width: 100%;
      gap: .5em;

      span {
        width: fit-content;
        font-size: 16px;
      }

      h4 {
        text-align: left;
        font-weight: bold;
      }
    }
  }
}

.card-graph {
  box-shadow: hsl(202, 40%, 96%) 0 .02em .05em -.02em, hsl(202, 40%, 96%) 0 .0em .2em -.01em;

  .card-header {
    h5 {
      font-size: .8em;
    }
  }

  .card-context {
    padding: 0;
    margin-top: .5em;

    h1 {
      font-size: 1.5em;
    }

    .view-info {
      justify-items: center;
      place-items: center;

      span {
        font-size: .8em;

      }
      h4 {
        width: fit-content;
        margin-left: auto;
        text-align: right;
      }
    }

    .btn-container {

      li {
        display: flex;
        border: 1px solid $border_color;
        padding: 2px 10px;
        font-size: 1em;
        place-items: center;
        border-radius: 5px;
        cursor: pointer;

        * {
          font-size: 1.1em;
          color: inherit;
        }

        &:hover {
          background: $color_white;
          color:  $dash_colo_blue;
        }

        svg {
          display: flex;
          margin-left: auto;
          place-content: center;
        }
      }
    }
  }
}

.new-letter {
  width: 100%;
  background-size: cover;
  background: #121628 url("/background-pattern.svg") ;
  color: #FFF;
  text-align: center;
  padding: 60px 4.15%;
  margin: 0 auto;

  .text-container {
    padding: 3em 15px;

    h2 {
      font-size: 1.4em;
      letter-spacing: .1em;
      font-family: $font_family_domine;
      margin: 2em 0 1em;
    }
  }

  .email-container {
    display: grid;
    padding: 2em 1em 1em;
    margin: 0 auto;
    width: 70%;
    gap: 1em;

    input, textarea {
      background: transparent;
      border-bottom: 1px solid $dark_white;
      text-align: left;
      padding: 5px 10px;
    }

    textarea {
      border: 1px solid;
      padding: 15px;
    }
  }

  .btn-container {
    border: 1px solid $dark_white;
    color: $dark;
    background: $dark_white;
    border-radius: 10px;

    p {
      cursor: pointer;
    }
  }
}

.chart-container {
  gap: .5em;
  padding: .3em;

  * {

  }

  .chart-context {
    display: grid;
    place-items: center;
    box-shadow: hsl(202, 40%, 96%) 0 .02em .05em -.02em, hsl(202, 40%, 96%) 0 .0em .4em -.01em;
    padding-bottom: 5px;
    height: 30dvh;
  }

  canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

  }
}

.alert-box {
  display: none;
  position: fixed;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 5dvh;
  place-items: center;
  background: #344D67;

  p {
    width: 100%;
  }

  * {
    color: $dark_white;
  }
}

.alert-message {
  display: grid;
  background: #344D67;
  animation: alert-open .5s ease forwards;
  -webkit-animation: alert-open .5s ease forwards;
}

.alert-error {
  background: #CE5959;
  display: grid;
  animation: alert-open .5s ease forwards;
  -webkit-animation: alert-open .5s ease forwards;
}

.alert-close {
  animation: alert-close .5s ease forwards;
  -webkit-animation: alert-close .5s ease forwards;
}

.icon-container {
  bottom: 2em;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;

  svg {
    color: $dark_white;
  }
}

.table {
  margin-top: 1em;

  .table-title-container {
    display: grid;
    justify-items: start;
    padding: 10px 10px 1em;

    h1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      font-size: 1em;
      text-align: left;
      text-transform: uppercase;

      span {
        display: flex;
        gap: .5em;
        margin-left: auto;
        background: $color-green;
        padding: 5px 10px;
        font-size: 1em;
        justify-items: center;
        place-items: center;
        color: $dark_white;
        cursor: pointer;
        border-radius: 5px;

        * {
          font-size: 1em;
        }

      }
    }
  }

  .request-table {

    thead {
      border-top: 1px solid $border_color;
      border-bottom: 1px solid $border_color ;
      th {
        padding: 15px 0;
      }
    }

    tbody {

      tr {
        border-bottom: 1px solid $color_white;

        td {
          padding: 10px 0;
        }
      }
    }
  }
}

.file-upload-container {
  padding: 0 15px 20px;
  margin-top: 1em;
  text-align: center;

  * {
    font-size: 1em;
    text-align: center;
  }

  .drop-zone {
    display: grid;
    border: 1px solid $border_color;
    padding: 10px 20px;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 20dvh;
    cursor: pointer;
    margin: auto;

    svg {
      font-size: 2.3em;
      &:hover {
        fill: $color-green;
      }
    }

    p {
      text-transform: uppercase;
      font-size: 18px;
    }

    .file-drop-zone-input {
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  .file-preview {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: .5em;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    margin: 1em auto;
    visibility: hidden;

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.model {
  display: none;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2000;
  width: 100%;
  height: 100%;

  .model-context-container {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
  }

  .action-btn {
    display: grid;
    place-items: end;
    padding: 0 20px;

    li {
      list-style: none;
    }

    svg {
      font-size: 2em;
    }
  }

  .signup_container {
    position: relative;
    padding: 20px;
    width: 100%;

    .content {
      width: 100% !important;
    }

    .next {
      p {
        background: $dark;
        width: 30dvw;
        color: $color_white;
        padding: 3px 0;
        border-radius: 5px;

        &:last-child {
          margin-top: .5rem;
          color: $color_blue;
        }
      }

      input {
        text-transform: capitalize;
      }
    }

    .message {
      p {
        color: $dark;
      }
    }
  }
}

.model-close {
  animation: model-close 0.5s forwards;
  -webkit-animation: model-close 0.5s forwards;

  .next {

    * {
      color: $color_white;
    }
    p {
      background: $dark !important;
    }
  }
}

.model-open {
  position: fixed;
  display: grid;
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}
