

.booking-list {

  .room-detail {
    padding: 0 1em;

    h3 {
      text-align: left;
      font-weight: bold;
      color: #005A8D;
      text-transform: capitalize;
    }
  }

  .action-btn, .detail, .check {
    display: grid;
    place-items: center;
    justify-content: center;
  }

  .detail {
    grid-template-columns: repeat(1, 1fr);

    .check {
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      width: 100%;
      place-items: start;
      padding: 0 10px;
      margin-top: .5em;

      &:last-child {
        margin-top: .2em;
        margin-bottom: .5em;
      }

      li {
        font-size: 16px;
        color: $color_blue;
      }

      i {
        padding-left: 10px;
        color: $dark;
        font-size: 16px;
        font-style: normal;
      }
    }
  }


  .action-btn {
    grid-template-columns: repeat(3, 1fr);

    button {
      display: grid;
      justify-content: center;
      place-content: center;
      background: $color_b;
      height: 100%;
      padding: 0 10px;
      width: 100%;
      border-right: 1px solid $color_light_blue;
      font-size: 16px;
      font-weight: bold;
      color: $text_color;

      &:first-child {
        p {
          font-size: 12px;
        }
      }

      &:last-child {
        display: flex;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        border: 1px solid $light_slate;
        background: #F5F5F5;
        row-gap: .3em;
        color: $color_blue;

        * {
          list-style: none;
          width: fit-content;
        }

        svg {
          font-size: 1.2em;
          margin-right: .2em;
        }

        li {
          text-align: left;

          i {
            font-style: normal;
          }
        }

        &:hover {
          svg {
            color: $color_red;
          }
        }
      }
    }
  }
}

.room-available {
    overflow: scroll;

  .action-container {
    display: grid;
    place-items: end;
    gap: 2em;
    padding: 15px 10px;

    svg {
      font-size: 2em;
      transition: all .1s ease;
    }

    svg:hover {
      fill: $color_red;
      font-family: $font_family_bacasime;
    }
  }
}

.room-list {
  .room {
    justify-content: center;
    place-items: center;
    border: 1px solid $light_slate;
    margin-bottom: .5em;

    .room-action {
      width: 100%;
      justify-items: center;

      h1, h3 {
        width: 50%;
        text-align: left;
        margin-left: 1em;
        font-size: 1.2em;
        font-weight: bold;
      }

      h3 {
        text-align: center;
        border: 1px solid $light_slate;
        float: right;
        font-size: 1em;
        padding: 5px 0;
        cursor: pointer;
      }
    }
  }

  .room-detail {

    .info {
      border: 1px solid $light_slate;
      border-left: none;
      padding-right: 15px;

      .info-room-title {
        text-align: left;
        padding: 10px 10px 0 10px;
        display: flex;
        justify-items: center;
        font-size: 1.3em;
        width: fit-content;
      }
      .disc {

        h2 {
          font-weight: bold;
          font-size: 1.3em;
          text-align: right;
          padding-bottom: 0;
          bottom: 0;
          margin-bottom: 0;

          p {
            width: 90%;
            font-size: .5em;
            text-align: right;
            color: $dark_55;
          }

          &:last-child {
            width: fit-content;
            padding: 5px 15px;
            border: 1px solid $dark_55;
            text-align: center;
            display: inline-block;
            float: right;
            align-self: center;
            right: 15px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20px;
            cursor: pointer;
          }
        }
      }
    }

    .details {
      padding: 0 10px 10px;
      width: min(80% - 2rem);
      place-items: center;

      li {
        display: flex;
        list-style: none;
        width: fit-content;
        align-items: center;
        gap: .5em;
        flex-direction: column;
      }
    }
  }
}