

@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Lato:wght@300&family=Open+Sans:wght@300&"
+"family=Roboto:ital&family=Bacasime+Antique&family=Domine:wght@700,wght@0,300;1,100&display=swap");

$font_serif: serif;
$font_family_roboto: 'Roboto', sans-serif;
$font_family_lato: 'Lato', sans-serif;
$font_family_hurricane: 'hurricane', sans-serif;
$font_family_poppins: 'Poppins', $font_serif;
$font_family_domine: 'Domine', $font_serif;
$font_family_bacasime: 'Bacasime Antique', $font_serif;
$font_family_filosofia: "filosofia", $font_serif;


$light_slate: #A8B2D1;
$border_color: #757575;
$color_blue: #19A7CE;
$color_light_blue: #BAD7E9;
$dark_white: #F1F6F9;
$color_white: #FFF;
$dark: #000;
$dark_55: #8c8c8c;
$color_b: #62CDFF;
$color_red: #FF0060;
$text_color: #121212;
$color_orange: #FF9B00;

$login_bg_image: url("../../../public/login-bg.jpg")
