@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/css/@_variable";
@import "assets/css/@_profile";
@import "assets/css/@_room";
@import "assets/css/@_login";
@import "assets/css/@_resuable";
@import "assets/css/@_booking";
@import "assets/css/@_header";
@import "assets/css/@_dashboard";
@import "assets/css/@_breakpoint";
@import "assets/css/@_media_breakpoint";
@import "assets/css/@_responsive";
@import "assets/css/@_keyfraames";
@import "react-datepicker/dist/react-datepicker.css";

.index {

  .info-container-main {

    .swiper {
      width: max(100% - 5%);
      position: relative;
      height: 100%;
      overflow: hidden;

      .swiper-wrapper {
        display: flex;
        height: 100%
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-items: center;
      }

      .swiper-slide.swiper-slide-active {
        height: 100% !important;
      }

      .custom-swiper-wrapper {
        flex-direction: unset;
        flex-wrap: wrap;
      }

      .room-available {
        cursor: pointer;

        .room-detail {
          display: grid;
          height: fit-content;
          margin-bottom: 2em;


          .detail {
            width: 100%;
            display: grid;

            .check {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              justify-items: left;

              li {
                width: 100%;
                font-size: 16px;

                i {
                  padding-left: 10px;
                }
              }

              li:nth-child(2) {
                text-align: right;
              }
            }
          }
        }
      }

      .swiper {

        .swiper-wrapper {
          display: flex;
          height: 100%;
          transform: translate3d(0, 0, 0) !important;
        }

        .swiper-slide {
          display: flex;
          align-items: center;
          justify-items: center;
        }

        .images-container {

        }
      }
    }

    .swiper-nested {
      display: grid;
      width: 100%;
      height: 100%;

      .swiper-wrapper {
        transform: translate3d(0, 0, 0) !important;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-items: center;
      }

      .mySwiper-two {
        display: grid;
        width: 100%;
        height: 100%;
        clear: both;

        .swiper-pagination {
          top: 50%;
          right: 2em;

          span {
            background: $color_red;
          }
        }

        .swiper {
          width: 100%;
        }

        .swiper-wrapper {
          display: grid;

          .swiper-slide, .swiper-slide-next {
            display: grid;
            height: 100%;
          }

          .swiper-slide-next {
            display: none;
          }

        }

        .room-detail {

          .detail {

            .check {

              li {
                text-align: left;

                i {
                  padding-left: 10px;
                }
              }

              li:nth-child(2) {
                text-align: left !important;
              }
            }
          }
        }

        .swiper-pagination {
          display: flex;
          justify-content: center;
          top: 40%;
          height: 50px;
          width: 20px;
          background: rgba(0, 0, 0, .6);
          padding-bottom: 20px;

          .swiper-pagination-bullet {
            display: block !important;
            background: $border_color;
          }
        }

        .room-available {
          display: grid;
          width: min(100% - 2%);
          height: 100%;



          .image-fit-screen{
            width: 100%;
            height: 50dvh;

            img {
              width: auto;
              height: 100%;
              min-width: 100%;

              object-fit: cover;
            }
          }
        }
      }
    }

    .swiper-nested-sm {

      .swiper-pagination {
        top: 50%;
      }

      .mySwiper-two {

        .swiper-slide-active {
          height: 100% !important;
          margin-bottom: 0 !important;
        }
        .swiper-pagination {
          top: 20%;
          right: 1em;
        }
        .swiper-pagination-lock, .swiper-pagination-bullet {
          display: block;
        }

      }
    }

    .swiper-dashboard {

      .swiper-button-next, .swiper-button-prev {
        top: 30%;
        color: $color_light_blue;
      }
    }

    .paginationWrapper {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: fit-content;
      justify-content: center;
      align-items: center;
      text-align: center;

      .paginationBtnContainer {
        width: 30px;
        height: 30px;
        text-align: center;
        align-self: center;
        justify-self: center;

        li {
          list-style: none;
          max-width: 100%;
          max-height: 100%;
          cursor: pointer;
          text-align: center;
          border-radius: 50%;

          &:hover {
            background: $border_color;
          }
        }

        li.current {
          background: #4CAF50;
        }
      }

    }
  }

}


