@import "App";

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  scroll-behavior: smooth;
  outline: none;
  transition: all .02s ease;
  font-size: 20px;
  font-family: $font_family_bacasime;
  transition-duration: 1.5s;
  transition-delay: .5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: hsl(0, 0, 30%);
  font-size: 1.2em;
}

svg {
  font-size: 1.3em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.invalid-input::placeholder {
  color: $color_red !important;
}

.header {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;

  * {
    color: $dark;
  }

  .book h5 {
    color: $dark !important;
  }
}

.header-transparent {
  background: 0 0;
  min-height: unset;

  * {
    background: transparent;
    color: $color_white
  }

  .action-btn, .book {
    background: none;

    h5 {
      color: $color_white !important;
    }

    h3 {
      color: $dark;
    }
  }
}

.index {
  inset: 0;
}


.index-main {
  position: relative;

  .slide {
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    position: relative;

    .slider_inner {
      position: relative;
      width: 100%;
      height: 100dvh;
      opacity: 0;

      .slide_slide {
        position: absolute;
        width: 100%;
        height: 100dvh;

        video {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .picture {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          display: flex;

          img {
            object-fit: cover;
            height: auto;
            vertical-align: middle;
          }
        }
      }

      .reform-slide-current {
        z-index: 2;
      }

      .reform-slide {
        top: 0;
        left: 0;
        overflow: hidden;
      }
    }

    .reform-slider-init {
      opacity: 1;
      overflow: hidden;
    }

    .slide_inner.reform-slide-current {
      opacity: 1;
      overflow: hidden;
    }
  }
}

.intro {
  margin-top: 5.2em;
  margin-bottom: 5em;
  padding-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: .1em;

  h1 {
    font-size: 65px;
    font-family: $font_family_bacasime;
    text-transform: capitalize;
    line-height: 80px;
    margin-bottom: 37px;
  }
}

.info-container {

  .summary-info {
    margin-bottom: 100px;

    .text-container {
      padding: 10% 4%;

      h2 {
        padding: 20px 10px 10px;
        font-family: $font_family_filosofia;
        font-size: 55px;
        line-height: 1.2em;
      }

      h5 {
        font-size: 16px;
        letter-spacing: .1em;
        font-family: $font_family_domine;
      }
    }
  }

  .disc-container {
    padding: 3em;

    p {
      font-size: 18px;
      font-family: $font_family_domine;
    }

    .action-container {
      display: grid;
      margin-top: 1em;
      padding: 15px;
      place-items: center;

      h5 {
        width: fit-content;
        padding: 5px 30px;
        border: 1px solid $dark_white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }

  &:nth-child(2) {
    margin-top: 3em;
  }

  .image-container {
    cursor: pointer;
    .img-one {
      .image {
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .text-container {
        padding: 15px;
        margin: 1em 0;

        h5 {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: normal;
        }
      }
    }
  }
}

.header_cta {
  position: fixed;
  z-index: 20;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 17px 0;
  text-align: center;
  background: $dark_white;
  overflow: hidden;
  min-height: 40px;

  .action_container {
    display: flex;
    justify-content: center;
  }


  p {
    position: relative;
    border: 1px solid $border_color;
    padding: 8px 20px;
    text-transform: uppercase;
    font-family: $font_family_bacasime;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    clip-path: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      background: url("/header-cta-pattern.svg") center center rgba(18, 22, 40, .75);
      z-index: -1;
      transition: all .4s ease-in-out;
    }

    &:hover {
      color: $color_white;
      &::after {
        transform: translateY(0);
      }
    }
  }
}


